*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #487a7a;
    text-align: center;
}
.div-container{
    height: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-game{
    height: 60min;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    margin: 5px;
    box-shadow: 0 0 1rem rgba(0, 0,0, 0.3);
    font-size: 8vmin;
    color: rgb(148, 47, 47);
    background-color: #ffffc7;


}
#reset-btn{
    padding: 1rem;
    font-size: 1.25 rem;
    background-color: #191913;
    border: none;
    border-radius: 1rem;
    color: white;
}
#newGame{
    padding: 0.7rem;
    font-size: 1.25 rem;
    background-color: #191913;
    border: none;
    border-radius: 1rem;
    color: white;
    margin-top: 20px;

}
.msg-container{
    margin-top: 10px;
    height: 100px;
}
.hide{
    display: none;
}